
    <section class="banner2-section py-5">
      <div  class="container">
        <div class="row">
          <div class="col-md-6 text-center pt-5">
          {{!-- left side  --}}
          <h3>We are working on gaining more skills in Web development</h3>
          <p>Student Result Management System.
             Online Code Editor (React)
             Amazon clone using React.
             Customer Relationship Manager.
             Sorting Visualizer.
             Multiplayer Game - Connect4.
             YouTube Transcript Summarizer.
             OurApp - a social media web app in NodeJS.</p>
          <a href="/gallery"><button class="btn btn-primary">Start</button></a>
        </div>
        <div class="col-md-6 text-center py-2">
          {{!-- right side  --}}
          <img src="/images/bn1.png" style="max-height: 300px;" class="img-fluid" alt="">
        </div>
        </div>
      </div>
    </section>