
    <section class="banner2-section py-5">
      <div  class="container">
        <div class="row">

          <div class="col-md-6 text-center py-2">
          {{!-- left side  --}}
          <img src="/images/bn2.png" class="img-fluid" style="max-height: 300px;" alt="">
        </div>

          <div class="col-md-6 text-center pt-5">
          {{!-- right side  --}}
          <h3>We will create many projects</h3>
          <p>Practicing web development projects with code bridges the gap between theoretical knowledge and practical application, and the best way to grasp web development concepts is by working on real-world projects. Web development projects for final year students or fresh graduates and API project ideas for beginners help them test their theoretical knowledge and enhance their practical skills. </p>
          <a href="/gallery"><button class="btn btn-primary">Start</button></a>
        </div>
        
        </div>
      </div>
    </section>